/**
 * Settings
 * FONTS
 */

// Base font stacks
$base-font-stack-serif:      Times, serif;
$base-font-stack-slab-serif: Georgia, serif;
$base-font-stack-sans-serif: Arial, sans-serif;
$base-font-stack-monospace:  Courier, monospace;

// Brand fonts from Hoefler & Co.
$brand-font-serif:      "Chronicle";
$brand-font-slab-serif: "Vitesse";
$brand-font-sans-serif: "Forza";
