/**
 * Components
 * SITE-HEADER
 */

.c-site-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 60px;
  padding: rem(20) $spacing-unit;
  color: white;
  background: $color-text;
}

.c-site-header a {
  color: white;
}
