---
layout: default
---
<div class="c-homepage">
  <div class="o-container">
    <h1 class="c-page-heading">Where to Go Outdoors <br>Near {{ site.city }}</h1>
    <a class="o-btn js-site-toggle" href="#">Explore</a>

    <div class="c-presented-by">
      Presented by
      <ul class="o-list-inline c-presented-by__list">
        <li>{% include objects/objects-ad.html id="dfp-sponsor2" %}</li>
        <li>{% include objects/objects-ad.html id="dfp-sponsor3" %}</li>
      </ul>
    </div>
  </div>
</div>
