/**
 * Base
 * EMBEDS
 */

object,
embed {
  height: auto;
  max-width: 100%;
}

/**
 * Grid Defaults to get images and embeds to work properly
 */
#map_canvas,
.map_canvas {

  img,
  embed,
  object {
    max-width: none !important;
  }

}
